<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="FreeSpire.Doc" version="7.11.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net461" />
  <package id="MailKit" version="3.1.0" targetFramework="net472" requireReinstallation="true" />
  <package id="MimeKit" version="3.1.0" targetFramework="net472" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="TeklaOpenAPI" version="2020.0.3" targetFramework="net472" />
</packages>